<div id="frm">
	<h3>Forgot Password</h3><br />
	<%= error_messages_for :user%>
  <% form_for :user do |f| %>
 		<p>
			<%= f.label :email %>
			<%= f.text_field :email%>
		</p>
 		<p>
			<%= f.label '&nbsp;' %>
			<%= submit_tag 'Submit'%>
		</p>
  <% end %>				
</div>