<div id="frm">
	<h3>Reset Password</h3>
	Pick a new password for <%= @user.email%> <br />
	<%= error_messages_for :user%>
  <% form_for :user do |f| %>
 		<p>
			<%= f.label :password %>
			<%= f.password_field :password%>
		</p>
 		<p>
			<%= f.label "Password Confirmation" %>
			<%= f.password_field :password_confirmation%>
		</p>
 		<p>
			<%= f.label '&nbsp;' %>
			<%= submit_tag 'Reset Password'%>
		</p>
  <% end %>				
</div>